*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container{
    background-color: yellowgreen;
    border: 5px solid gray;
    border-radius: 2px;
    width: 100%;
}

h1{
    color: white;
    text-align: center;
    font-size: 120px;
    margin: 0;
}










